@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900;
}

a {
  @apply text-blue-700 hover:text-blue-800;
}

@media print {
  body {
    background: white !important;
  }
  a {
    color: black !important;
    text-decoration: none !important;
  }
  header,
  footer {
    display: none !important;
  }
}
